@model Universities
@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper" style="padding:0px 0px 0px 250px">
    <div class="container-fluid">
        <br>
        <br>
        <a asp-area="Admin" asp-controller="AddUni" asp-action="Index" class="col-md-2 btn btn-primary "><i class="fas fa-long-arrow-alt-left"></i> Geri</a>
        <div class="">
            <br><br>
            <form asp-area="Admin" asp-action="Create" asp-controller="AddUni" method="post">

                <div class="form-group row ml-md-4">
                    <label for="EducationType" class="col-md-2">Təhsilin növü:</label>
                    <div class="col-md-5">
                        <select required style="padding: 0px" class="form-control" name="EducationTypeId" id="EducationType">
                            <option>Seç</option>
                            @foreach (var item in ViewData["EducationTypes"] as List<InternalSystem.Areas.InternalHR.Models.Education.EducationType>)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        @if (ViewData["NonEducationTypes"] != null)
                        {
                            <p class="text-danger">@ViewData["NonEducationTypes"]</p>}
                        @if (ViewData["exitUniversity"] != null)
                        {
                            <p class="text-danger">@ViewData["exitUniversity"]</p>}
                    </div>
                </div>
                <div class="form-group row ml-md-4">
                    <label asp-for="Name" class="col-md-2">Universitetin adı:</label>
                    <div class="col-md-5">
                        <input required asp-for="Name" class="form-control" id="universityName" value="@if (Model!=null){ @Model.Name}" name="Name" type="text">

                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-md-4 mx-auto">
                        <button style="width: 300px; " class="btn btn-success" type="submit">Əlavə et</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--content-wrapper-->
</div>

