@model DeptAndSubDeptVM 
@{
    ViewData["Title"] = "AllPosition";
}

<div class="content-wrapper" style="padding:0px 0px 0px 250px">
    <div class="container-fluid">
        <br>
        <div class="card">
            <div class="row">
                <div class="modal" tabindex="-1" id="confirmationModalForPosition" role="dialog">
                    <input type="hidden" id="hiddenModal" name="name" value="" />
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 style="color:black;font-size:1rem;" class="modal-title">Məlumatı sil</h5>
                                <button type="button" onclick="closeConfirmationIdPositionForAll()" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="padding-bottom: 0;">
                                <p style="color:#2590d3 !important;;font-size: 1.3rem;">Məlumatı silməyə əminsinizmi?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="deletePosition($('#hiddenModal').val())" class="btn btn-secondary" data-dismiss="modal">Bəli</button>
                                <button type="button" onclick="closeConfirmationIdPositionForAll()" id="confirmationModalForPosition" class="btn btn-primary">Xeyr</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto" id="positionTableDiv">
                    <table style="color:blue" class="table table-hover table-responsive-md ">
                        <thead style="text-align: center" class="thead-dark ">
                            <tr>
                                <th scope="col">Sıra №</th>
                                <th scope="col">Vəzifə adı</th>
                                <th scope="col">Alt şöbənin adı</th>
                                <th scope="col">Şöbənin adı</th>
                                <th scope="col">Şirkətin adı</th>
                                <th scope="col">Redaktə et:</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center">
                            @{ var count = 1; }
                            @if (Model.Positions.Count() != 0)
                            {
                                @foreach (var item in Model.Positions)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>
                                            @if (item.Name.Length > 50)
                                            {@(item.Name.Substring(0, 50) + "...") }
                                            else
                                            {
                                                @item.Name}
                                        </td>
                                        <td>@item.SubDepartment.Name</td>
                                        <td>@item.SubDepartment.DepartmentToCompany.Department.Name</td>
                                        <td>@item.SubDepartment.DepartmentToCompany.Company.Name</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Dəyiş"> <i class="fas fa-edit"></i></a>
                                            <a onclick="confirmationDeleteForPosition(@item.Id)" class="btn btn-danger" title="Sil"> <i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    count++;

                                } }
                            else
                            {
                                <tr>
                                    <th scope="row">0</th>
                                    <td>Siyahı boşdur</td>
                                    <td>Siyahı boşdur</td>
                                    <td>Siyahı boşdur</td>
                                    <td>Siyahı boşdur</td>
                                    <td>Siyahı boşdur</td>
                                </tr>
}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a asp-area="Admin" asp-controller="AddPosition" asp-action="Index" class="btn btn-primary col-md-12">Geri</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function deletePosition(Id) {
               $.ajax({
                   type: 'post',
                   url: '@Url.Action("Delete", "AddPosition")',
                   data: { PositionId: Id},
                   success: function (response) {
                       console.log(response)
                       $("#confirmationModalForPosition").hide()
                       $("#positionTableDiv").html(response)
                   },
                   error: function (response) {
                       console.error(response)
                   }
               })
        }

        //////////////open modul
        function confirmationDeleteForPosition(Id) {
            $("#confirmationModalForPosition").show()
            $("#hiddenModal").val(Id);
        }
        //close modul//
        function closeConfirmationIdPositionForAll() {
            $("#confirmationModalForPosition").hide()
        }

    </script>

}

