@model DeptAndSubDeptVM
@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper" style="padding:0px 0px 0px 250px">
    <div class="container-fluid">
        <br>
        <br>
        <a asp-area="Admin" asp-controller="AddPosition" asp-action="Index" class="col-md-2 btn btn-primary "><i class="fas fa-long-arrow-alt-left"></i>  Geri</a>
        <div class="">
            <br><br>
            <form method="post">
                <div class="form-group row ml-md-4">
                    <label for="CompanyName" class="col-md-2">Şirkət adı:</label>
                    <div class="form-group col-md-5">
                        <select onchange="getDepartment()" class="form-control" id="companySelectId" name="CompanyId">
                            <option disabled selected>Seç</option>
                            @foreach (var company in Model.Companiess)
                            {
                                if (Model.CompaniesId == company.Id)
                                {
                                    <option selected value="@company.Id">@company.Name</option>
                                }
                                else
                                {
                                    <option value="@company.Id">@company.Name</option>
                                }

                            }
                        </select>
                        @if (ViewData["companyNull"] != null)
                        {
                            <span class="text-danger">@ViewData["companyNull"]</span>}
                    </div>
                </div>
                <div class="form-group row ml-md-4">
                    <label for="departmentName" class="col-md-2">Şöbə adı:</label>
                    <div class="form-group col-md-5" id="DepartmentSelectDiv">
                        <select onchange="getSubDepartment()" class="form-control" id="departmentSelectId" name="DepartmentId">
                            @foreach (var department in Model.DepartmentToCompanies)
                            {
                                @if (Model.DepartmentId == department.DepartmentId)
                                {
                                    <option selected value="@department.DepartmentId">@department.Department.Name</option>
 }
                                else
                                {
                                    <option value="@department.DepartmentId">@department.Department.Name</option>
}}
                        </select>
                        @if (ViewData["DepartmentNull"] != null)
                        {
                            <span class="text-danger">@ViewData["DepartmentNull"]</span>}
                    </div>
                </div>
                <div class="form-group row ml-md-4">
                    <label for="subdepartmentName" class="col-md-2">Alt şöbə adı:</label>
                    <div class="form-group col-md-5" id="SubDepartmentSelectDiv">
                        <select class="form-control" name="SubDepartmentId">
                            @foreach (var subdepartment in Model.SubDepartments)
                            {
                                @if (Model.SubDepartmentId == subdepartment.Id)
                                {
                                    <option selected value="@subdepartment.Id">@subdepartment.Name</option>
 }
                                else
                                {
                                    <option value="@subdepartment.Id">@subdepartment.Name</option>
}}
                        </select>
                        @if (ViewData["SubdepartmentNull"] != null)
                        {
                            <span class="text-danger">@ViewData["SubdepartmentNull"]</span>}
                    </div>
                </div>
                <div class="form-group row ml-md-4">
                    <label asp-for="@Model.Position.Name" for="subdepartmentName" class="col-md-2">Vəzifə adı:</label>
                    <div class="col-md-5">
                        <input asp-for="@Model.Position.Name" type="text" style="height: 35px;" class="form-control" id="departmentName">
                        <span asp-validation-for="@Model.Position.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <input style="width: 300px;" class="btn btn-success" type="submit" value="Yenilə" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--content-wrapper-->
</div>

@section scripts{
    <script>
        function getDepartment() {
            var e = document.getElementById("companySelectId");
              var selectedCompany = e.options[e.selectedIndex].value;
            console.log(selectedCompany);
            $.ajax({
                type: "get",
                url: "@Url.Action("CreateDeptLoad", "AddPosition")",
                data: { id: selectedCompany },
                success: function (respoonse) {
                    $("#DepartmentSelectDiv").html(respoonse)
                },
                error: function (response) {
                }

            })
          }

        function getSubDepartment() {
            var e = document.getElementById("departmentSelectId");
              var selectedDepartment = e.options[e.selectedIndex].value;
            console.log(selectedDepartment);
            $.ajax({
                type: "get",
                url: "@Url.Action("CreateSubDLoad", "AddPosition")",
                data: { id: selectedDepartment },
                success: function (respoonse) {
                    $("#SubDepartmentSelectDiv").html(respoonse)
                },
                error: function (response) {
                }

            })
          }
    </script>
}


