@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Index";
}

<div style="background-color: white" class="page-wrapper">

    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <p style="color: green;text-align: center;font-size: 25px">Hr siyahısı</p>
            </div>
            <div class="card-body" style="overflow-x:scroll">
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:1500px" class="table table-bordered table-responsive-md text-center">
                            <thead class=" table-dark">
                                <tr>
                                    <th scope="col">Sıra №</th>
                                    <th scope="col">Şəkil</th>
                                    <th scope="col">Adminin adı</th>
                                    <th scope="col">Soyadı</th>
                                    <th scope="col">Atasının adı</th>
                                    <th scope="col">Tel nömrəsi</th>
                                    <th scope="col">İstifadəçi adı</th>
                                    <th scope="col">Poçt ünvanı</th>
                                    <th scope="col">Təstiqlənib</th>
                                    <th scope="col">Redaktə et</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                @if (Model.Count() != 0)
                                {
                                    int count = 1;
                                    @foreach (var item in Model)
                                    {
                                        if (item.CompaniesId == ViewBag.userAdmin && item.Status != false)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <th>
                                                    @if (item.Image != null)
                                                    {
                                                        <img src="~/allUserImg/@item.Image" style="width:100px" />
                                                    }
                                                </th>
                                                <th>@item.Name</th>
                                                <td>@item.Surname</td>
                                                <td>@item.FatherName</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.UserName</td>
                                                <td>@item.Email</td>
                                                @if (item.Emplooyee != null)
                                                {
                                                    if (item.Emplooyee.IsWorking == false)
                                                    {
                                                        <td><a asp-action="Confirm" asp-controller="Hr" asp-area="CompanyAdmin" asp-route-id="@item.Id" class="btn btn-danger">Təstiqlə</a></td>
                                                    }

                                                }
                                                <td><a style="cursor:pointer;" class="btn btn-success">Təsdiqlənib</a></td>
                                                <td>
                                                    <a asp-action="Delete" asp-controller="Hr" asp-area="CompanyAdmin" asp-route-id="@item.Id" class="btn btn-danger" title="Sil"> <i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                        @*else
                                            {
                                                <tr class="text-danger text-center">
                                                    <th scope="row">0</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                    <th>Boş</th>
                                                </tr>
                                            }*@
                                    }

                                }
                                else
                                {
                                    <tr class="text-danger text-center">
                                        <th scope="row">0</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                        <th>Boş</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="modaDiv">
    <div class="modal" tabindex="-1" role="dialog" id="confirmationModalForHR">
        <input type="hidden" id="hiddenHrId" value="" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Silməyə əminsiniz?</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeConfirmationIdForAll()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a onclick="deleteUniversityInAllUn($('#hiddenHrId').val())" class="btn btn-primary">Sil</a>
                    <a onclick="closeConfirmationIdForAll()" class="btn btn-secondary" data-dismiss="modal">Ləvğ et</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
                    /////////////////
        function deleteUniversityInAllUn(Id) {
            $.ajax({
                type: 'post',
                url: '@Url.Action("DeleteFromAllUn", "University")',
                data: { UniversityId: Id },
                success: function (response) {
                    $("#tableDiv").html(response)
                    $("#confirmationModalForHR").hide()
                },
                error: function (response) {
                    console.error(response)
                }
            })
        }
        //////////////
        //////////////open modul
        function confirmationIdForHR(Id) {
            $("#confirmationModalForHR").show()
            $("#hiddenHrId").val(Id)
        }
        //close modul//
        function closeConfirmationIdForAll() {
            $("#confirmationModalForHR").hide()
        }
        /////////////
    </script>
}

