@model IEnumerable<ContactBetweenDepartmentsSent>
@{
    ViewData["Title"] = "SentedMessage";
}
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>
<div class="content-wrapper" style="background:#e0e0e0">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Employee" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Göndərdiklərim</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="">
        <div class="card-body">
            <div class="row">
                <div style="height:600px;overflow-y:scroll;" class="col-md-12 mx-auto" id="sendedtableDiv">
                    <table class="table table-responsive-md ">
                        <thead style="text-align: center" class="All_Index_View_Change_Thead">
                            <tr class="All_Index_View_Change_Tr">
                                <th scope="col">Sıra №</th>
                                <th scope="col">Kimə</th>
                                <th scope="col"> Mövzu</th>
                                <th scope="col"> Mesaj</th>
                                <th scope="col"> Tarix</th>
                                <th scope="col"> Sil</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;background: white;">
                            @if (Model.Count() != 0)
                            {
                                int count = 1;
                                foreach (var sended in Model)
                                {

                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@sended.To</td>
                                        <td>@sended.Subject</td>
                                        <td>@sended.Message</td>
                                        <td>@sended.CreatedDate</td>
                                        <td>
                                            <a onclick="deleteConfirmation(@sended.Id)" class="btn btn-danger">Sil</a>
                                        </td>
                                    </tr>

                                    count++;
                                }
                            }
                            else
                            {

                                <tr>
                                    <td>0</td>
                                    <td>Boş</td>
                                    <td>Boş</td>
                                    <td>Boş</td>
                                    <td>Boş</td>
                                    <td>Boş</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--content-wrapper-->
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function deleteConfirmation(Id) {
            swal({
                title: "Silməyə əminsiniz?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                        type: 'post',
                        url: '@Url.Action("DeleteMsjFromSended", "DepartmentContact")',
                        data: { msjId: Id },
                           success: function (response) {
                               $("#sendedtableDiv").html(response)
                               if (willDelete) {
                                   swal("Mesaj Silindi", {
                                       icon: "success",
                                   });
                               }
                        },
                        error: function (response) {
                            console.error(response)
                        }
                     })
                    }
                });
        }
    </script>

}
