@model DeptAndSubDeptVM

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper" style="color: black; background-color: rgb(255, 255, 255); min-height: 194px; padding:0px 0px 0px 250px">
    <div class="container-fluid">
        <br>
        <br>
        <a asp-area="Admin" asp-controller="AddDepartmant" asp-action="Index" class="col-md-2 btn btn-primary "><i class="fas fa-long-arrow-alt-left"></i>  Geri</a>
        <div>
            <br><br>
            <form method="post">
                <div class="form-group row ml-md-4">
                    <label for="departmentName" class="col-md-2">Şöbənin adı:</label>
                    <div class="form-group col-md-5">
                        <select asp-for="@Model.CompaniesId" class="form-control">
                            @foreach (var company in Model.Companiess)
                            {
                                <option value="@company.Id">@company.Name</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="@Model.Companies.Name"></span>
                        @if (ViewData["error_company_dept"] != null)
                        {
                            <span class="text-danger">@ViewData["error_company_dept"]</span>}
                    </div>
                </div>

                <div class="form-group row ml-md-4">
                    <label asp-for="@Model.Department.Name" for="departmentName" class="col-md-2">Şöbənin adı:</label>
                    <div class="col-md-5">
                        <input asp-for="@Model.Department.Name" type="text" style="height: 35px;" class="form-control" id="departmentName">
                        <span asp-validation-for="@Model.Department.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <input style="width: 300px;" class="btn btn-success" type="submit" value="Yenilə" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--content-wrapper-->
</div>

