
@model ExplanationForHrVM
@{ ViewData["Title"] = "AllExplanationForHr"; }
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>

<div class="content-wrapper" style="color: black;background-color: #e0e0e0;">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class=" ">
                <div class="form-group row p-3 d-flex">
                    <label for="exampleInputEmail1" onclick="checkeds()">Ad və ya Soyad</label>
                    <input type="text" class="form-control" onkeyup="getPermissionList(this.value)" placeholder="Axtar">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" value="daily" type="radio" id="todayCheckId" name="howSearch">
                        <label class="form-check-label" for="inlineCheckbox1">Bu gün</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" value="monthly" type="radio" id="monthCheckId" name="howSearch">
                        <label class="form-check-label" for="inlineCheckbox1">Ay</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" value="all" type="radio" checked id="allCheckedİd" name="howSearch">
                        <label class="form-check-label" for="inlineCheckbox1">Hamsı</label>
                    </div>
                </div>
                <h2 style=" text-align:center">Izahatlar</h2>
                <!---->
                @*<div class="form-group col-4">
                            <div class="input-group input-group-sm" style=" background-color: #f2f4f6;">
                                <input style="background-color: #f2f4f6;border:none;" onkeyup="search(this.value)" class="form-control form-control-navbar" type="search" placeholder="Ad və ya Soyad" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                    </div>*@

                <table id="dataAllSearch" class="table table-responsive-md  ">
                    <thead style="text-align: center;color:white" class="All_Index_View_Change_Thead">
                        <tr>
                            <th scope="col">Sıra №</th>
                            <th scope="col">Soyadı,Adı,Ata adı</th>
                            <th scope="col">Izahatin növü</th>
                            <th scope="col">Tarixdən</th>
                            <th scope="col">Tarixə</th>
                            <th scope="col">Səbəb</th>
                            <th scope="col">Izah</th>

                            <th scope="col">Şöbə</th>
                            <th scope="col">Vəzifə</th>

                            <th>Bax</th>


                        </tr>
                    </thead>
                    <tbody style="text-align: center;color: black" id="permissionList">
                        @if (Model.Explanations.Count() != 0)
                        {
                            int count = 1;
                            @foreach (var item in Model.Explanations)
                            {
                        <tr>
                            <th style="width: 100px;" scope="row">@count</th>
                            <td style="width: 220px;">@item.Emplooyee.FirstName @item.Emplooyee.Lastname @item.Emplooyee.FatherName</td>
                            <td style="width: 100px;">@item.Explanation.PermissionType.Name</td>
                            <td style="width:140px;">
                                @if (item.Explanation.PermissionType.Name == "Günlük")
                                {<p>@item.Explanation.FromDate.Day / @item.Explanation.FromDate.Month / @item.Explanation.FromDate.Year</p> }
                            else
                            {
                                //saatliq
                                @if (item.Explanation.FromDateForHour.Minute < 10 && item.Explanation.FromDateForHour.Minute > 0)
                                {
                                    <span>
                                        @item.Explanation.FromDateForHour.Hour :0@(item.Explanation.FromDateForHour.Minute)
                                    </span> }
                                else
                                {
                                    <span>
                                        @item.Explanation.FromDateForHour.Hour : @item.Explanation.FromDateForHour.Minute
                                    </span>}
                                <span>
                                    (@item.Explanation.FromDate.Day / @item.Explanation.FromDate.Month / @item.Explanation.FromDate.Year)
                                </span>//saatliq
                            }
                            </td>
                            <td style="width:140px;">
                                @if (item.Explanation.PermissionType.Name == "Günlük")
                                {
                                    <p>@item.Explanation.ToDate.Day / @item.Explanation.ToDate.Month / @item.Explanation.ToDate.Year</p> }
                                else
                                {
                                    //saatliq
                                    @if (item.Explanation.ToDate.Minute < 10 && item.Explanation.ToDate.Minute > 0)
                                    {
                                        <span>
                                            @item.Explanation.ToDate.Hour :0@(item.Explanation.ToDate.Minute)
                                        </span> }
                                    else
                                    {
                                        <span>
                                            @item.Explanation.ToDate.Hour : @item.Explanation.ToDate.Minute
                                        </span>}
                                    <span>
                                        (@item.Explanation.FromDate.Day / @item.Explanation.FromDate.Month / @item.Explanation.FromDate.Year)
                                    </span>//saatliq
                                }
                            </td>
                            @if (item.Explanation.Reason.Length > 20)
                            {
                                <td>@(item.Explanation.Reason.Substring(0,20)+"...")</td>
                            }
                            else
                            {
                                <td>@item.Explanation.Reason</td>
                            }
                            @if (item.Explanation.Description == null)
                            {
                                <td>şərh yoxdur</td>
                            }
                            else
                            {
                                @if (item.Explanation.Description.Length > 20)
                                {
                                    <td>
                                        @(item.Explanation.Description.Substring(0,20)+"...")
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @item.Explanation.Description
                                    </td>

                                }
                            }



                            <td>
                                @item.Emplooyee.Positions.SubDepartment.DepartmentToCompany.Department.Name
                            </td>
                            <td>
                                @item.Emplooyee.Positions.Name
                            </td>
                            <td><a asp-controller="PermissionForHr" asp-action="Index" asp-area="InternalHR" asp-route-id="@item.Id" style="padding-left: 15px;padding-right: 15px;" class="btn btn-info"><i class="fas fa-info"></i></a></td>

                        </tr>
                                count++;
                            } }
                        else
                        {

                            <tr>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                                <td>Boş</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script>

            function checkeds() {

                console.log(val)
            }
            function getPermissionList(val) {
                var valForHowSearch = document.querySelector('input[name="howSearch"]:checked').value;

                $.ajax({
                    type: 'get',
                    url: '@Url.Action("searchExp", "PermissionForHr")',
                    data: { getName: val, howSearch: valForHowSearch },
                    success: function (response) {
                        $("#permissionList").html(response)
                        console.log("success")
                        checkedOrNot = false
                    },
                    error: function (response) {
                        console.error(response)
                    }
                })
            }

        $(function () {
            $('#dataAllSearchPermission').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            });
        });

    </script>
}

