
@{
    ViewData["Title"] = "AllEmployeeMen";
}
 
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>

@model IEnumerable<Emplooyee>
<div class="content-wrapper">
    <div class="">
        <div class="card All_Index_View_Change_Card" style="background-color: #f4f6f9;">
            <div class="card-header All_Index_View_Change_Card_Header">
                <p class="All_Index_View_Change_P">kişi işçilərin siyahısı</p>
            </div>
            <div class="card-body" style="overflow-x:scroll;">
                @*<a href="#" download onclick="exportF(this)">content</a>*@
                <div class="row">
                    <div class="col-md-12 mx-auto">
                      
                        <table id="dataAllSearch" class="table table-responsive-md" @*id="employeeList"*@>
                            <thead style="text-align: center;" class="All_Index_View_Change_Thead">
                                <tr class="All_Index_View_Change_Tr">
                                    <th scope="col">Sıra №</th>
                                    <th scope="col">Şirkət</th>
                                    <th scope="col">Soyad,Ad,Ata adı</th>
                                    <th scope="col">Şöbə adı</th>
                                    <th scope="col">Vəzifəsi</th>
                                    <th scope="col">Ş\V seriyası</th>
                                    <th scope="col">Maaş</th>
                                    <th scope="col">Redaktə et</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;" class="All_Index_View_Change_Tbody">
                                @{ int count = 1;}
                                @if (Model.Count() != 0)
                                {
                                    @foreach (var emp in Model)
                                    {
                                        <tr>
                                            <th style="width: 100px;" scope="row">@count</th>
                                            <td style="width: 110px;">@emp.Company.Name</td>
                                            <td style="width: 240px;">@(emp.Lastname+" "+emp.FirstName+" "+emp.FatherName)</td>
                                            @if (emp.Positions == null)
                                            {
                                                <td style="width: 110px;">Əmr verilməyib</td>
                                            }
                                            else
                                            {
                                                <td style="width: 240px;">@(emp.Positions.SubDepartment.DepartmentToCompany.Department.Name)</td>
                                            }
                                            @if (emp.Positions == null)
                                            {
                                                <td style="width: 150px;">Əmr verilməyib</td>
                                            }
                                            else
                                            {
                                                <td style="width: 150px;">@emp.Positions.Name</td>
                                            }
                                            <td style="width: 110px;">@emp.IdCard</td>
                                            <td style="width: 110px;">@emp.Salary</td>
                                            <td style="width:155px;">
                                                <button type="submit" class="btn" style="padding-left:0px;padding-right:0px;"><a class="btn btn-primary" asp-area="InternalHR" asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id" title="Redaktə et"><i class="fas fa-edit"></i></a></button>
                                                <button type="submit" class="btn" style="padding-left:0px;padding-right:0px;"><a style="padding-left: 15px;padding-right: 15px;" class="btn btn-info" asp-area="InternalHR" asp-controller="Employee" asp-action="Detail" asp-route-id="@emp.Id" title="Detallar"><i class="fas fa-info"></i></a></button>
                                                <button type="submit" class="btn" style="padding-left:0px;padding-right:0px;"><a class="btn btn-warning" asp-area="InternalHR" asp-controller="Practitioner" asp-action="AllLastWorks" asp-route-id="@emp.Id" title="Köhnə iş yeri"><i class="fas fa-briefcase"></i></a></button>
                                            </td>
                                        </tr>
                                        count++;
                                    } }
                                else
                                {

                                    <tr>
                                        <th style="width: 100px;">Boş</th>
                                        <th style="width: 110px;">Boş</th>
                                        <th style="width: 240px;">Boş</th>
                                        <th style="width: 110px;">Boş</th>
                                        <th style="width: 110px;">Boş</th>
                                        <th style="width: 110px;">Boş</th>
                                        <th style="width: 110px;">Boş</th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--content-wrapper-->
</div>


@section scripts{

    @*<script>
            function search(val) {
                console.log(val)
                $.ajax({
                        type: 'get',
                        url: '@Url.Action("searchEmp", "Employee")',
                        data: { getName: val},
                        success: function (response) {
                            $("#employeeList").html(response)
                            console.log("success")
                        },
                        error: function (response) {
                            console.error(response)
                        }
                    })
            }
        </script>*@

    <script>
    function exportF(elem) {
            var table = document.getElementById("dataAllSearch");
            var html = table.outerHTML;
            var url = 'data:application/vnd.ms-excel,' + escape(html); // Set your html table into url
            elem.setAttribute("href", url);
            elem.setAttribute("download", "export.xls"); // Choose the file name
            return false;
        }</script>

}

