@model CommandDepBossVM
@{ ViewData["Title"] = "CreateDepBossRecruitmentCommand"; }
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>
<h1>
    Create
    <div class="content-wrapper" style="color: black; background-color: rgb(255, 255, 255);">
        <div class="container-fluid " id="divForCommand">
            <div id="divForCommand">
                <form method="post">
                    <div style="height: 30px"></div>
                    <div class="form-group row ml-md-5">
                        <div class="col-sm-7">
                            <div class="text-danger text-bold" style="font-size:14px;" asp-validation-summary="ModelOnly"></div>
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="employeeName">İşçinin adı:</label>
                        </div>
                        <div class="col-sm-7">
                            <select onchange="getScanDepBoss()" style="padding: 0px" class="form-control input-height" asp-for="EmployeeId" id="employeeName">
                                <option disabled selected>Seçin</option>
                                @foreach (var emp in Model.Emplooyees)
                                {
                    <option value="@emp.Id">@(emp.FirstName+" "+emp.Lastname+" "+emp.FatherName+" ") @((emp.GenderId ==1) ? "oğlu" : "qızı") @("Ş/V("+emp.IdCard+")")</option>}
                            </select>
                            <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="EmployeeId"></span>
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;">Sənədin adı:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" value="İşə qəbul" class="form-control input-height" readonly />
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;">Qəbul vaxtı:</label>
                        </div>
                        <div class="col-md-7">
                            <input type="date" class="form-control input-height" asp-for="CreatedDate">
                            <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="CreatedDate"></span>
                            @*@if (ViewData["error_createDateDepBoss"] != null)
                                {
                                    <span class="text-danger text-bold" style="font-size:14px;">@ViewData["error_createDateDepBoss"]</span>
                                }*@
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2 ">
                            <label style="color:black;">Əmrin skan forması:</label>
                        </div>
                        <!--<div class="col-md-7">
                            <div class="col-md-2">
                                <div class="row" style="width:175px;">
                                    <img class="img-fluid" src="~/dist/img/pdf.png" alt="AdobePdf" />
                                    <div id="showScannn" style="margin-top: 10px;"></div>-->
                        <!--Partial view scan-->
                        <!--</div>
                            </div>
                        </div>-->
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="img-fluid" src="~/dist/img/pdf.png" alt="AdobePdf" />
                                </div>
                                <div class="col-md-10">
                                    <div id="showScannn"></div>
                                    <!--Partial view scan-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="workType">İş vaxtı növü:</label>
                        </div>
                        <div class="col-sm-7" id="">
                            <select asp-for="WorkTimeOfTypeId" style="padding: 0px" class="form-control input-height">
                                <option disabled>Seçin</option>
                                @foreach (var type in Model.WorkTimeOfTypes)
                                {
                    <option value="@type.Id">@type.Name</option>}
                            </select>
                            <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="WorkTimeOfTypeId"></span>
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="workType">İşin növü:</label>
                        </div>
                        <div class="col-sm-7" id="">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label style="color:#353030;">Əsas iş yeri</label>
                                    <input type="checkbox" checked name="WorkPlace" value="1" style="cursor:pointer" class="slectOne" />
                                </div>
                                <div class="offset-3 col-sm-2">
                                    <label style="color:#353030;">Əlavə iş yeri</label>
                                    <input type="checkbox" name="WorkPlace" value="2" style="cursor:pointer" class="slectOne" />
                                </div>
                            </div>
                            @if (ViewData["error_WorkPlace"] != null)
                            {
                <span class="text-danger text-bold" style="font-size:14px;">@ViewData["error_WorkPlace"]</span>}
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="departmentName">Vergi güzəşti:</label>
                        </div>
                        <div class="col-sm-7">
                            <select asp-for="TaxBreakId" style="padding: 0px" class="form-control input-height">
                                <option>Seçin</option>
                                @foreach (var taxBreak in Model.TaxBreaks)
                                {
                    <option value="@taxBreak.Id">@taxBreak.Name</option>}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="workBookNumber">Əmək kitabçası(№):</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" asp-for="WorkBookAddition.WorkbookNumber" style="height: 27px;" class="form-control" id="workBookNumber">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="contractNumber">Müqavilə(№):</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" asp-for="WorkBookAddition.ContractNumber" style="height: 27px;" class="form-control" id="contractNumber">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="ssnNumber">SSN:</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" asp-for="WorkBookAddition.SSNNumber" style="height: 27px;" class="form-control" id="ssnNumber">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="departmentName">Şöbənin adı:</label>
                        </div>
                        <div class="col-sm-7">
                            <select style="padding: 0px" class="form-control input-height" asp-for="DepartmentId">
                                <option disabled selected>Seçin</option>
                                @foreach (var depBoss in Model.DepartmentToCompanies)
                                {
                    <option value="@depBoss.DepartmentId">@(depBoss.Department.Name+" ("+depBoss.Company.Name+")")</option>}
                            </select>
                            <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="DepartmentId"></span>
                        </div>
                    </div>

                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="positionName">Vəzifənin adı:</label>
                        </div>
                        <div class="col-sm-7">
                            <input id="PositionName" name="PositionName" readonly class="form-control input-height" type="text" value="Şöbə Müdiri" />
                        </div>

                    </div>
                    <div class="form-group row ml-md-5">
                        <div class="col-md-2">
                            <label style="color:black;" for="salary">Maaş:</label>
                        </div>
                        <div class="col-sm-7">
                            @*<input asp-for="Salary" pattern="[0-9]+([.][0-9]+)?" id="salary" maxlength="8" class="form-control input-height" type="text">*@
                            <input asp-for="Salary" id="salary" maxlength="8" class="form-control input-height" type="text">
                            <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="Salary"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <button style="float:left;" id="removeBtn" class="btn btn-danger col-md-3 mx-auto" type="submit">
                            <a asp-controller="Dashboard" asp-action="Index" style="padding: 5px 100px;color:white;">İmtina</a>
                        </button>
                        <button style="float: right" class="btn btn-success col-md-3 mx-auto" type="submit">Yadda saxla</button>
                    </div>
                </form>
            </div>

            <br><br><br>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div>
                        <table id="dataAllSearch" class="table table-hover table-responsive-md">
                            <thead style="text-align: center" class="All_Index_View_Change_Thead">
                                <tr class="All_Index_View_Change_Tr">
                                    <th scope="col">Sıra №</th>
                                    <th scope="col">Soyadı,Adı,Ata adı</th>
                                    <th scope="col"> Verilmə tarixi</th>
                                    <th scope="col"> Əmrin növu</th>
                                    <th scope="col"> Redaktə et</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;" class="All_Index_View_Change_Tbody">

                                @{ int count = 1;}
                                @if (Model.CommandsToEmployees != null)
                                {
                    @foreach (var command in Model.CommandsToEmployees)
                    {
    <tr>
        <td scope="row">@count</td>
        <td>@(command.Emplooyee.Lastname+" "+command.Emplooyee.FirstName + " "+command.Emplooyee.FatherName) @(command.Emplooyee.GenderId==1 ? "oğlu" : "qızı")</td>
        <td>@command.CreatedDate.ToString("dd/MM/yyyy")</td>
        <td>@command.Command.Title</td>
        <td>
            <a asp-area="Employee" asp-controller="CommandDepBossRecruitment" asp-action="DetailDepBossRecruitmentCommand" asp-route-id="@command.Id" class="btn btn-primary" style="padding:6px 18px;color:white;" title="Detal">
                <i class="fas fa-info"></i>
            </a>
            <a asp-area="Employee" asp-controller="CommandDepBossRecruitment" asp-action="UpdateDepBossRecruitmentCommand" asp-route-id="@command.Id" asp-route-EmpId="@command.EmplooyeeId" class="btn btn-warning" style="color:white;" title="Dəyiş">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>count++;
                    }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>




        </div>

        <!--content-wrapper-->
    </div>

    @section scripts{
        <script>
        function getScanDepBoss() {
            var emplName = document.getElementById("employeeName");
            var selectedEmployeePdf = emplName.options[emplName.selectedIndex].value;
            $.ajax({
                type: "get",
                url: "@Url.Action("GetScanPdf", "CommandDepBossRecruitment")",
                data: {
                    empId: selectedEmployeePdf
                },
                success: function (respoonse) {
                    $("#showScannn").html(respoonse)
                },
                error: function (respoonse) {
                }
            })
        }

        //Function Toaster Success
        function toastSuccessCommand(word) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](word);
        }

        $(function () {
            var a = '@TempData["msgDepBoss"]';
            if (a != '')
                toastSuccessCommand("Müvəffəqiyyətlə əlavə olundu");
        });

        $(document).on('change', ":checkbox", function () {
            $('.slectOne').not(this).prop('checked', false);
        });
        </script>
    }

