@model CommandDepBossVM
@{ ViewData["Title"] = "UpdateDepBossRecruitmentCommand"; }
<style>


    .btn-success {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-primary {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-warning {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }

    .btn-danger {
        background-color: #2590d3 !important;
        border-color: #2590d3 !important;
    }
</style>
<h1>
    Create
    <div class="content-wrapper" style="color: black; background-color: rgb(255, 255, 255);">
        <div class="container-fluid" id="divForCommand">
            <form method="post">
                <div style="height: 30px"></div>
                <div class="form-group row ml-md-5">
                    <div class="col-sm-7" style="display:grid;">
                        <div class="text-danger text-bold" asp-validation-summary="ModelOnly"></div>
                    </div>
                </div>
                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="EmplooyeeId">İşçinin adı:</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control input-height" readonly value="@(Model.CommandsToEmployee.Emplooyee.FirstName+" "+Model.CommandsToEmployee.Emplooyee.Lastname+" "+Model.CommandsToEmployee.Emplooyee.FatherName) @((Model.CommandsToEmployee.Emplooyee.GenderId==1) ? "oğlu" : "qızı")" />
                    </div>
                </div>
                <div class="form-group row  ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;">Sənədin adı</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" value="İşə qəbul" class="form-control input-height" readonly />
                    </div>
                </div>

                <div class="form-group row  ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;">Qəbul vaxtı</label>
                    </div>
                    <div class="col-md-7">
                        <input type="date" class="form-control input-height" value="@Model.CommandsToEmployee.CreatedDate.ToString("yyyy-MM-dd")"
                               asp-for="CreatedDate">
                        <span class="text-danger text-bold" asp-validation-for="CreatedDate" style="font-size:14px;"></span>
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2 ">
                        <label style="color:black;">Əmrin skan forması</label>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-2">
                            <div class="row" style="width:175px;">
                                <img class="img-fluid" src="~/dist/img/pdf.png" alt="AdobePdf" />
                                @if (Model.CommandsToEmployee.Emplooyee.ScanCommand != null)
                                {
                    <a href="~/allUserImg/@Model.CommandsToEmployee.Emplooyee.ScanCommand" download style="font-size:20px;margin-left:22px;display:grid;"><i class="fas fa-download text-center"></i> Endir</a> }
                                else
                                {
                    <a style="font-size:20px;margin-left:22px;display:grid;">Yoxdur</a>}
                                <!--Partial view scan-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="workType">İş vaxtı növü:</label>
                    </div>
                    <div class="col-sm-7" id="">
                        <select asp-for="WorkTimeOfTypeId" style="padding: 0px" class="form-control input-height">
                            <option disabled>Seçin</option>
                            @foreach (var type in Model.WorkTimeOfTypes)
                            {
                                if (Model.CommandsToEmployee.Emplooyee.WorkTimeOfTypeId == type.Id)
                                {
                <option selected value="@type.Id">@type.Name</option> }
                                else
                                {
                <option value="@type.Id">@type.Name</option>}
                            }
                        </select>
                        <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="WorkTimeOfTypeId"></span>
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="workType">İşin növü:</label>
                    </div>
                    <div class="col-sm-7" id="">
                        <div class="row">
                            @if (Model.CommandsToEmployee.Emplooyee.WorkPlaceAddition.Name == "Əsas iş yeri")
                            {
                <div class="col-sm-2">
                    <label style="color:#353030;">Əsas iş yeri</label>
                    <input type="checkbox" checked name="WorkPlace" value="1" style="cursor:pointer" class="slectOne" />
                </div>
                                <div class="offset-3 col-sm-2">
                                    <label style="color:#353030;">Əlavə iş yeri</label>
                                    <input type="checkbox" name="WorkPlace" value="2" style="cursor:pointer" class="slectOne" />
                                </div> }
                                            else if (Model.CommandsToEmployee.Emplooyee.WorkPlaceAddition.Name == "Əlavə iş yeri")
                                            {
                                <div class="col-sm-2">
                                    <label style="color:#353030;">Əsas iş yeri</label>
                                    <input type="checkbox" name="WorkPlace" value="1" style="cursor:pointer" class="slectOne" />
                                </div>
                                                <div class="offset-3 col-sm-2">
                                                    <label style="color:#353030;">Əlavə iş yeri</label>
                                                    <input type="checkbox" checked name="WorkPlace" value="2" style="cursor:pointer" class="slectOne" />
                                                </div>}
                        </div>
                        <span class="text-danger text-bold" asp-validation-for="WorkPlace" style="font-size:14px;"></span>
                        @*@if (ViewData["error_WorkPlace"] != null)
                            {
                                <span class="text-danger text-bold" style="font-size:14px;">@ViewData["error_WorkPlace"]</span>
                            }*@
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="departmentName">Vergi güzəşti:</label>
                    </div>
                    <div class="col-sm-7">
                        <select asp-for="TaxBreakId" style="padding: 0px" class="form-control input-height">
                            <option>Seçin (yoxdur)</option>
                            @foreach (var taxBreak in Model.TaxBreaks)
                            {
                                if (Model.TaxBreakToEmplooyee != null)
                                {
                                    if (Model.TaxBreakToEmplooyee.TaxBreakId == taxBreak.Id)
                                    {
                <option selected value="@taxBreak.Id">@taxBreak.Name</option> }
                                    else
                                    {
                <option value="@taxBreak.Id">@taxBreak.Name</option> }
                                }
                                else
                                {
                <option value="@taxBreak.Id">@taxBreak.Name</option>}
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="workBookNumber">Əmək kitabçası(№):</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" asp-for="WorkBookAddition.WorkbookNumber" value="@(Model.CommandsToEmployee.Emplooyee.WorkBookAdditionId!=null ? Model.CommandsToEmployee.Emplooyee.WorkBookAddition.WorkbookNumber : "")" style="height: 27px;" class="form-control" id="workBookNumber">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="contractNumber">Müqavilə(№):</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" asp-for="WorkBookAddition.ContractNumber" value="@(Model.CommandsToEmployee.Emplooyee.WorkBookAdditionId!=null ? Model.CommandsToEmployee.Emplooyee.WorkBookAddition.ContractNumber : "")" style="height: 27px;" class="form-control" id="contractNumber">
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="ssnNumber">SSN:</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" asp-for="WorkBookAddition.SSNNumber" value="@(Model.CommandsToEmployee.Emplooyee.WorkBookAdditionId!=null ? Model.CommandsToEmployee.Emplooyee.WorkBookAddition.SSNNumber : "")" style="height: 27px;" class="form-control" id="ssnNumber">
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="departmentName">Şöbənin adı:</label>
                    </div>
                    <div class="col-sm-7">
                        <select asp-for="DepartmentId" style="padding: 0px" class="form-control input-height">
                            <option selected disabled>Seçin</option>
                            @foreach (var depBoss in Model.DepartmentToCompanies)
                            {
                                if (Model.DepartmentToCompany.DepartmentId == depBoss.DepartmentId)
                                {
                <option selected value="@depBoss.DepartmentId">@(depBoss.Department.Name+" ("+depBoss.Company.Name+")")</option> }
                                else
                                {
                <option value="@depBoss.DepartmentId">@depBoss.Department.Name</option>}
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row  ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;">Sənədin adı</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" value="Şöbə müdiri" class="form-control input-height" readonly />
                    </div>
                </div>

                <div class="form-group row ml-md-5">
                    <div class="col-md-2">
                        <label style="color:black;" for="salary">Maaş:</label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="Salary" id="salary" maxlength="8" value="@Model.CommandsToEmployee.Emplooyee.Salary.ToString().Replace(',','.')" class="form-control input-height" type="text">
                        <span class="text-danger text-bold" style="font-size:14px;" asp-validation-for="Salary"></span>
                    </div>
                </div>

                <br>
                <div class="row mb-5">
                    <button style="float:left;" class="btn btn-danger col-md-3 mx-auto">
                        <a asp-controller="CommandDepBossRecruitment" asp-action="CreateDepBossRecruitmentCommand" style="padding: 5px 100px;color:white;">İmtina</a>
                    </button>
                    <button style="float: right" class="btn btn-success col-md-3 mx-auto" type="submit">Yadda saxla</button>
                </div>
            </form>


        </div>
        <!--content-wrapper-->
    </div>

    @section scripts{
        <script>
        $(document).on('change', ":checkbox", function () {
            $('.slectOne').not(this).prop('checked', false);
        });

        //Function Toaster Success
        function toastSuccessCommand(word) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["success"](word);
        }

         @*$(function () {
            var a = '@TempData["msgDepB"]';
             if (a != '')
                 toastSuccessCommand("Müvəffəqiyyətlə yeniləndi");
         })*@

        </script>
    }

