@model BusinessTripEmp
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper" style="color: black; background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
        <form method="post">
            <div style="height: 30px"></div>


            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">Ad Soyad Finkod</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.Emplooyee.FirstName+" " + Model.Emplooyee.Lastname+" "+Model.Emplooyee.FinCode)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">Tarixdən</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.FromDate)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">Tarixədək</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.ToDate)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">Mağaza</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.PartnorName)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">İzah</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.Commet)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-md-2">
                    <label class="label-font" for="name">Region</label>
                </div>
                <div class="col-md-5">
                    <input readonly value="@(Model.Distric.DistricName)" id="name" class="form-control input-height"
                           type="text">
                </div>
            </div>

            <br><br>
            <a asp-controller="BusinessTrip" asp-action="Create" asp-area="Employee" class="btn btn-success">Silmək istədiyinizdən əminsiniz? Xeyr isə geri dönün </a>
            <div class="row">
                <button style="float:left;" class="btn btn-danger col-md-3 mx-auto" type="submit">
                    Sil
                </button>
            </div>

        </form>
    </div>

</div>
