@model IEnumerable<Profession>
@{
    ViewData["Title"] = "AllProfessions";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12" id="professionTableDiv">
                        <table class="table table-hover table-responsive-md ">
                            <thead style="text-align: center" class="thead-dark ">
                                <tr>
                                    <th scope="col"> Sıra№</th>
                                    <th scope="col">İxtisasın adı</th>
                                    <th scope="col">Fakultənin adı</th>
                                    <th scope="col">Universitetin adı</th>
                                    <th scope="col">Redaktə et</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;color:blue;">
                                @{ var count = 1;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td>@item.UniFaculty.Name</td>
                                        <td>@item.UniFaculty.EducationTypeToUniversity.Universities.Name (@item.UniFaculty.EducationTypeToUniversity.EducationType.Name)</td>
                                        <td>
                                            <a asp-action="EditProfession" asp-controller="Profession" asp-route-Id="@item.Id" class="btn btn-primary" title="Dəyiş"> <i class="fas fa-edit"></i></a>
                                            <a onclick="confirmationDeleteForProfession(@item.Id)" href="#" class="btn btn-danger" title="Sil"> <i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a asp-area="InternalHR" asp-controller="Profession" asp-action="Index" class="btn btn-primary col-md-12">Geri</a>
            </div>
        </div>

    </div>

    <!--content-wrapper-->
</div>
<section class="modalClass">

    <div class="modal" tabindex="-1" role="dialog" id="confirmationModalForProfession">
        <input type="hidden" id="hiddenProfessionId" value="" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Silməyə əminsiniz?</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeConfirmationForProfession()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a onclick="deleteProfessiion($('#hiddenProfessionId').val())" class="btn btn-primary">Sil</a>
                    <a onclick="closeConfirmationForProfession()" class="btn btn-secondary" data-dismiss="modal">Ləvğ et</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function deleteProfessiion(Id) {
               $.ajax({
                   type: 'post',
                   url: '@Url.Action("DeleteProfession", "Profession")',
                   data: { ProfessionId: Id},
                   success: function (response) {
                       console.log("success")
                       $("#confirmationModalForProfession").hide()
                       $("#professionTableDiv").html(response)
                   },
                   error: function (response) {
                       console.error(response)
                   }
               })
        }

        //////////////open modul
        function confirmationDeleteForProfession(Id) {
            $("#confirmationModalForProfession").show()
            $("#hiddenProfessionId").val(Id)
        }
        //close modul//
        function closeConfirmationForProfession() {
            $("#confirmationModalForProfession").hide()
        }
    </script>

}

