@model List<InternalSystem.Services.EmailMessage>
@{ 
    int count = 1;
}
<table class="table table-hover table-striped">
    <thead style="text-align: center;background-color:#007bff" class="All_Index_View_Change_Thead">
        <tr class="All_Index_View_Change_Tr">
            <th scope="col">№</th>
            <th scope="col">#</th>
            <th scope="col">Kimdən</th>
            <th scope="col">Mövzu</th>
            <th scope="col">Tarix</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() != 0)
        {
            @foreach (var item in Model)
            {
                <tr style="text-align:center;">

                    <td class="mailbox-star" style="padding:8px;">@count</td>
                    <td>
                        @if (item.From.StartsWith('A') == true || item.From.StartsWith('a') == true)
                        {
                            <img src="~/mail.ru/a.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('B') == true || item.From.StartsWith('b') == true || item.From.StartsWith('Б') == true || item.From.StartsWith('б') == true)
                        {
                            <img src="~/mail.ru/b.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('C') == true || item.From.StartsWith('c') == true)
                        {
                            <img src="~/mail.ru/c.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('D') == true || item.From.StartsWith('d') == true || item.From.StartsWith('Д') == true || item.From.StartsWith('д') == true)
                        {
                            <img src="~/mail.ru/d.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('E') == true || item.From.StartsWith('e') == true || item.From.StartsWith('Ё') == true || item.From.StartsWith('ё') == true || item.From.StartsWith('Э') == true || item.From.StartsWith('э') == true)
                        {
                            <img src="~/mail.ru/e.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('F') == true || item.From.StartsWith('f') == true || item.From.StartsWith('Ф') == true || item.From.StartsWith('ф') == true)
                        {
                            <img src="~/mail.ru/f.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('G') == true || item.From.StartsWith('g') == true)
                        {
                            <img src="~/mail.ru/g.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('H') == true || item.From.StartsWith('h') == true)
                        {
                            <img src="~/mail.ru/h.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('I') == true || item.From.StartsWith('i') == true || item.From.StartsWith('И') == true || item.From.StartsWith('и') == true)
                        {
                            <img src="~/mail.ru/i.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('J') == true || item.From.StartsWith('j') == true || item.From.StartsWith('Ж') == true || item.From.StartsWith('ж') == true)
                        {
                            <img src="~/mail.ru/j.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('K') == true || item.From.StartsWith('k') == true || item.From.StartsWith('К') == true || item.From.StartsWith('к') == true)
                        {
                            <img src="~/mail.ru/k.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('L') == true || item.From.StartsWith('l') == true || item.From.StartsWith('Л') == true || item.From.StartsWith('л') == true)
                        {
                            <img src="~/mail.ru/l.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('M') == true || item.From.StartsWith('m') == true || item.From.StartsWith('М') == true || item.From.StartsWith('м') == true)
                        {
                            <img src="~/mail.ru/m.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('N') == true || item.From.StartsWith('n') == true || item.From.StartsWith('Н') == true || item.From.StartsWith('н') == true)
                        {
                            <img src="~/mail.ru/n.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('O') == true || item.From.StartsWith('o') == true)
                        {
                            <img src="~/mail.ru/o.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('P') == true || item.From.StartsWith('p') == true || item.From.StartsWith('П') == true || item.From.StartsWith('п') == true)
                        {
                            <img src="~/mail.ru/p.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Q') == true || item.From.StartsWith('q') == true || item.From.StartsWith('Г') == true || item.From.StartsWith('г') == true)
                        {
                            <img src="~/mail.ru/q.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('R') == true || item.From.StartsWith('r') == true)
                        {
                            <img src="~/mail.ru/r.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('S') == true || item.From.StartsWith('s') == true)
                        {
                            <img src="~/mail.ru/s.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('T') == true || item.From.StartsWith('t') == true || item.From.StartsWith('т') == true)
                        {
                            <img src="~/mail.ru/t.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('U') == true || item.From.StartsWith('u') == true)
                        {
                            <img src="~/mail.ru/u.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('V') == true || item.From.StartsWith('v') == true || item.From.StartsWith('в') == true)
                        {
                            <img src="~/mail.ru/v.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('W') == true || item.From.StartsWith('w') == true)
                        {
                            <img src="~/mail.ru/w.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('X') == true || item.From.StartsWith('x') == true)
                        {
                            <img src="~/mail.ru/x2.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Y') == true || item.From.StartsWith('y') == true || item.From.StartsWith('Й') == true || item.From.StartsWith('й') == true)
                        {
                            <img src="~/mail.ru/y.png" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Z') == true || item.From.StartsWith('z') == true || item.From.StartsWith('З') == true || item.From.StartsWith('з') == true)
                        {
                            <img src="~/mail.ru/z.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Ц') == true || item.From.StartsWith('ц') == true)
                        {
                            <img src="~/mail.ru/ц.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Ч') == true || item.From.StartsWith('ч') == true)
                        {
                            <img src="~/mail.ru/Ч.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Ш') == true || item.From.StartsWith('ш') == true || item.From.StartsWith('Щ') == true || item.From.StartsWith('щ') == true)
                        {
                            <img src="~/mail.ru/Ш.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Ю') == true || item.From.StartsWith('ю') == true)
                        {
                            <img src="~/mail.ru/ю.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                        @if (item.From.StartsWith('Я') == true || item.From.StartsWith('я') == true)
                        {
                            <img src="~/mail.ru/Я.jpg" alt="no" style=" width: 32px; height: 32px;border-radius:50%;display:block!important;">
                        }
                    </td>
                    <td class="mailbox-star">
                        <a asp-controller="Email" asp-action="DetailInbox" asp-route-id="@item.MessageId">@item.From</a>
                    </td>
                    <td class="mailbox-name">
                        <a asp-controller="Email" asp-action="DetailInbox" asp-route-id="@item.MessageId">
                            @if (item.Subject.Length > 55)
                            {
                                <p>@(item.Subject.Substring(0,55)+"...")</p>
                            }
                            else
                            {
                                @*<p>@Html.DisplayFor(modelItem => item.Subject)</p>*@
                                <p>@item.Subject</p>
                            }
                        </a>
                    </td>
                    <td style="width:145px;">
                        <span>@item.NowDay.ToString("dd.MM.yyyy")</span>
                    </td>
                    <td>
                        <a onclick="deleteEmail('@item.MessageId');" style="background-color: #c9d0d0;" class="btn"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                count++;
            }
        }
        else
        {
            <tr style="text-align:center;">
                <td>Boş</td>
                <td>Boş</td>
                <td>Boş</td>
                <td>Boş</td>
                <td>Boş</td>
                <td>Boş</td>
            </tr>
        }

    </tbody>
</table>