@using InternalSystem.ViewModels
@model HeaderBioVM





<div class="inner-wrapper">

    <!-- Header -->
    <header class="header">

        <!-- Top Header Section -->
        <div class="top-header-section">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="logo my-3 my-sm-0">
                            <a asp-area="Employee" asp-controller="Dashboard" asp-action="Index">
                                <img src="~/allUserImg/@Model.AppUser.Companies.Image" alt="logo image" class="img-fluid" width="100">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-6 text-right">
                        <div class="user-block d-none d-lg-block">
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="user-notification-block align-right d-inline-block">
                                        <div class="top-nav-search">
                                            <form>
                                                <input type="text" class="form-control" placeholder="Axtar">
                                                <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- User notification-->
                                    <div class="user-notification-block align-right d-inline-block">
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Icazə">
                                                <a asp-area="Employee" asp-controller="Permision" asp-action="GetPermission" class="font-23 menu-style text-white align-middle">
                                                    <span class="lnr lnr-briefcase position-relative"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /User notification-->
                                    <!-- user info-->
                                    <div class="user-info align-right dropdown d-inline-block header-dropdown">
                                        <a href="javascript:void(0)" data-toggle="dropdown" class=" menu-style dropdown-toggle">
                                            <div class="user-avatar d-inline-block">
                                                <img src="~/allUserImg/@(Model.AppUser.Emplooyee !=null ? Model.AppUser.Emplooyee.Image : "")" alt="user avatar" class="rounded-circle img-fluid" width="55">
                                            </div>
                                        </a>

                                        <!-- Notifications -->
                                        <div class="dropdown-menu notification-dropdown-menu shadow-lg border-0 p-3 m-0 dropdown-menu-right">
                                            @*<a class="dropdown-item p-2" href="employment.html">
            <span class="media align-items-center">
                <span class="lnr lnr-user mr-3"></span>
                <span class="media-body text-truncate">
                    <span class="text-truncate">Hesab</span>
                </span>
            </span>
        </a>*@
                                            <a class="dropdown-item p-2" asp-area="Employee" asp-controller="Account" asp-action="ChangePassword">
                                                <span class="media align-items-center">
                                                    <span class="lnr lnr-cog mr-3"></span>
                                                    <span class="media-body text-truncate">
                                                        <span class="text-truncate">Tənzimləmələr</span>
                                                    </span>
                                                </span>
                                            </a>
                                            <a class="dropdown-item p-2" asp-area="" asp-controller="Account" asp-action="LogOutsSec">
                                                <span class="media align-items-center">
                                                    <span class="lnr lnr-power-switch mr-3"></span>
                                                    <span class="media-body text-truncate">
                                                        <span class="text-truncate">Çıxış</span>
                                                    </span>
                                                </span>
                                            </a>
                                            @if (User.IsInRole("HumanResource") || User.IsInRole("HrDepartmentBoss"))
                                            {
                                                <a class="dropdown-item p-2" asp-action="Index" asp-controller="Dashboard" asp-area="InternalHR">
                                                    <span class="media align-items-center">
                                                        <span class="lnr lnr-home mr-3"></span>
                                                        <span class="media-body text-truncate">
                                                            <span class="text-truncate">HR kimi</span>
                                                        </span>
                                                    </span>
                                                </a>

                                            }

                                        </div>
                                        <!-- Notifications -->

                                    </div>
                                    <!-- /User info-->

                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <a href="javascript:void(0)">
                                <span class="lnr lnr-user d-block display-5 text-white" id="open_navSidebar"></span>
                            </a>

                            <!-- Offcanvas menu -->
                            <div class="offcanvas-menu" id="offcanvas_menu">
                                <span class="lnr lnr-cross float-left display-6 position-absolute t-1 l-1 text-white" id="close_navSidebar"></span>
                                <div class="user-info align-center bg-theme text-center">
                                    <a href="javascript:void(0)" class="d-block menu-style text-white">
                                        <div class="user-avatar d-inline-block mr-3">
                                            <img src="~/allUserImg/@(Model.AppUser.Emplooyee !=null ? Model.AppUser.Emplooyee.Image : "")" alt="user avatar" class="rounded-circle img-fluid" width="55">
                                        </div>
                                    </a>
                                </div>
                                <div class="user-notification-block align-center">
                                    <div class="top-nav-search">
                                        <form>
                                            <input type="text" class="form-control" placeholder="Axtar">
                                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="user-menu-items px-3 m-0">
                                    <a class="px-0 pb-2 pt-0" asp-area="Employee" asp-controller="Home" asp-action="Information">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-home mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">Dashboard</span>
                                            </span>
                                        </span>
                                    </a>
                                    <a class="p-2" asp-area="Employee" asp-controller="Home" asp-action="Information">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-user mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">Məlumatlarım</span>
                                            </span>
                                        </span>
                                    </a>
                                    <a class="p-2" asp-area="Employee" asp-controller="EmployeeMessage" asp-action="Index">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-apartment mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">Bildiriş</span>
                                            </span>
                                        </span>
                                    </a>

                                    <a class="p-2" href="http://172.16.10.50/iq/@Model.AppUser.Emplooyee.Id">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-heart mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">IQ-Test</span>
                                            </span>
                                        </span>
                                    </a>
                                    @if (!User.IsInRole("DepartmentBoss") )
                                    {
                                        <a class="p-2" asp-area="Employee" asp-controller="Permision" asp-action="GetPermission">
                                            <span class="media align-items-center">
                                                <span class="lnr lnr-briefcase mr-3"></span>
                                                <span class="media-body text-truncate text-left">
                                                    <span class="text-truncate text-left">İcazələrim</span>
                                                </span>
                                            </span>
                                        </a>
                                        <a class="p-2" asp-area="Employee" asp-controller="ExplanationFoLate" asp-action="CreateExplanation">
                                            <span class="media align-items-center">
                                                <span class="lnr lnr-star mr-3"></span>
                                                <span class="media-body text-truncate text-left">
                                                    <span class="text-truncate text-left">İzahatlarım </span>
                                                </span>
                                            </span>
                                        </a>
                                        <a class="p-2" asp-area="Employee" asp-controller="Permision" asp-action="AllVacation">
                                            <span class="media align-items-center">
                                                <span class="lnr lnr-rocket mr-3"></span>
                                                <span class="media-body text-truncate text-left">
                                                    <span class="text-truncate text-left">Məzuniyyətlərim</span>
                                                </span>
                                            </span>
                                        </a>
                                    }

                                    @if (User.IsInRole("DeviceResponsible"))
                                    {
                                        <a class="p-2" asp-area="Employee" asp-controller="EmployeeDevice" asp-action="Create">
                                            <span class="media align-items-center">
                                                <span class="lnr lnr-sync mr-3"></span>
                                                <span class="media-body text-truncate text-left">
                                                    <span class="text-truncate text-left">İşçilərin qurğusu</span>
                                                </span>
                                            </span>
                                        </a>

                                    }

                                    <a class="p-2" asp-area="" asp-controller="Account" asp-action="ChangePassword">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-cog mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">Tənzimləmələr</span>
                                            </span>
                                        </span>
                                    </a>

                                    <a class="p-2" asp-controller="Account" asp-action="LogOutsSec">
                                        <span class="media align-items-center">
                                            <span class="lnr lnr-power-switch mr-3"></span>
                                            <span class="media-body text-truncate text-left">
                                                <span class="text-truncate text-left">Çıxış</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- /Offcanvas menu -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Top Header Section -->

    </header>
    <!-- /Header -->
    <!-- Content -->
    <div class="page-wrapper" style="transform: none;">
        <div class="container-fluid" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-xl-3 col-lg-4 col-md-12 theiaStickySidebar">
                    <aside class="sidebar sidebar-user">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ctm-border-radius shadow-sm grow">
                                    <div class="card-body py-4">
                                        <div class="row">
                                            <div class="col-md-12 mr-auto text-left">
                                                <div class="custom-search input-group">
                                                    <div class="custom-breadcrumb">
                                                        <ol class="breadcrumb no-bg-color d-inline-block p-0 m-0 mb-2">
                                                            <li class="breadcrumb-item d-inline-block"><a asp-area="Employee" asp-controller="Home" asp-action="Information" class="text-dark">Ana Səhifə</a></li>
                                                            <li class="breadcrumb-item d-inline-block active">Dashboard</li>
                                                        </ol>
                                                        <h4 class="text-dark"> @(Model.AppUser.Emplooyee.Lastname.Substring(0,1)+". "+Model.AppUser.Emplooyee.FirstName) - @(Model.AppUser.Emplooyee.Positions!=null ? Model.AppUser.Emplooyee.Positions.Name : "Şöbə müdiri")</h4>
                                                        <small>Üzvdür  @(Model.CommandsToEmployee.CreatedDate.ToString("MMM").Substring(0, 1).ToUpper()+Model.CommandsToEmployee.CreatedDate.ToString("MMM").Substring(1,2).ToLower()).@Model.CommandsToEmployee.CreatedDate.ToString("yyyy")</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="user-card card shadow-sm bg-white text-center ctm-border-radius grow">
                            <div class="user-info card-body">
                                <div class="user-avatar mb-4">
                                    <img src="~/allUserImg/@(Model.AppUser.Emplooyee !=null ? Model.AppUser.Emplooyee.Image : "")" alt="User Avatar" class="img-fluid rounded-circle" width="100">
                                </div>
                                <div class="user-details">
                                    <h4><b>Salam, @Model.AppUser.Emplooyee.FirstName</b></h4>
                                    <p>@DateTime.Now.ToString("dd/MM/yyyy")</p>
                                </div>
                            </div>
                        </div>

                        <!-- Sidebar -->
                        <div class="sidebar-wrapper d-lg-block d-md-none d-none">
                            <div class="card ctm-border-radius shadow-sm border-none grow">
                                <div class="card-body">
                                   

                                    <div class="row no-gutters">
                                        <div class="col-6 align-items-center text-center">
                                            <a asp-area="Employee" asp-controller="Dashboard" asp-action="Index" class="text-white active p-4 first-slider-btn ctm-border-right ctm-border-left ctm-border-top"><span class="lnr lnr-home pr-0 pb-lg-2 font-23"></span><span class="">Dashboard</span></a>
                                        </div>
                                        <div class="col-6 align-items-center shadow-none text-center">
                                            <a asp-area="Employee" asp-controller="Home" asp-action="Information" class="text-dark p-4 second-slider-btn ctm-border-right ctm-border-top"><span class="lnr lnr-user pr-0 pb-lg-2 font-23"></span><span class="">Məlumatlarım</span></a>
                                        </div>
                                        <div class="col-6 align-items-center shadow-none text-center">
                                            <a asp-area="Employee" asp-controller="EmployeeMessage" asp-action="Index" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-inbox pr-0 pb-lg-2 font-23"></span><span class="">Bildiriş</span></a>
                                        </div>
                                        <div class="col-6 align-items-center shadow-none text-center">
                                            <a href="http://172.16.10.50/iq/@Model.AppUser.Emplooyee.Id" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-heart pr-0 pb-lg-2 font-23"></span><span class="">IQ-Test</span></a>
                                        </div>
                                        @if (!User.IsInRole("DepartmentBoss"))
                                        {
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-area="Employee" asp-controller="Permision" asp-action="GetPermission" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-briefcase pr-0 pb-lg-2 font-23"></span><span class="">İcazələrim</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-area="Employee" asp-controller="ExplanationFoLate" asp-action="CreateExplanation" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-star pr-0 pb-lg-2 font-23"></span><span class="">İzahatlarım </span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-area="Employee" asp-controller="Permision" asp-action="AllVacation" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-rocket pr-0 pb-lg-2 font-23"></span><span class="">Məzuniyyətlərim</span></a>
                                            </div>
                                        }
                                        @if (User.IsInRole("DepartmentBoss"))
                                        {
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="AllPermitions" asp-controller="Permision" asp-area="Employee" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-magic-wand pr-0 pb-lg-2 font-23"></span><span class=""> İcazə Istəyənlər</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="SentMessage" asp-controller="DepartmentContact" asp-area="Employee" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-envelope pr-0 pb-lg-2 font-23"></span><span class="">  Şöbə müdirləri ilə əlaqə</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Inbox" asp-controller="DepartmentContact" asp-area="Employee" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-dice pr-0 pb-lg-2 font-23"></span><span class=""> Gələnlər</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="SentedMessage" asp-controller="DepartmentContact" asp-area="Employee" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-moon pr-0 pb-lg-2 font-23"></span><span class=""> Göndərdiklərim</span></a>
                                            </div>
                                        }

                                        @if (User.IsInRole("DeviceResponsible"))
                                        {
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-area="Employee" asp-controller="EmployeeDevice" asp-action="Create" class="text-dark p-4 ctm-border-right"><span class="lnr lnr-sync pr-0 pb-lg-2 font-23"></span><span class="">İşçilərin qurğusu</span></a>
                                            </div>
                                        }

                                        <div class="col-6 align-items-center shadow-none text-center">
                                            <a asp-area="Employee" asp-controller="Account" asp-action="ChangePassword" class="text-dark p-4 last-slider-btn1 ctm-border-right ctm-border-left"><span class="lnr lnr-cog pr-0 pb-lg-2 font-23"></span><span class="">Tənzimləmələr</span></a>
                                        </div>
                                        @if (User.IsInRole("HrDepartmentBoss"))
                                        {
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="CreateEmpRecruitmentCommand" asp-controller="CommandEmpRecruitment" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-pencil pr-0 pb-lg-2 font-23"></span><span class="">İşə qəbul</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="PositionChange" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-pie-chart pr-0 pb-lg-2 font-23"></span><span class="">Vəzifə dəyişikliyi</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-area="Employee" asp-controller="Permision" asp-action="AllVacation" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-select pr-0 pb-lg-2 font-23"></span><span class="">Maaş Artımı</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="CommandEmpQuitWorkk" asp-controller="CommandEmpQuitWork" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-sad pr-0 pb-lg-2 font-23"></span><span class="">Xitam</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="SurnameChange" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-smile pr-0 pb-lg-2 font-23"></span><span class="">Soyad dəyişdirilməsi</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="WrittenWarning" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-alarm pr-0 pb-lg-2 font-23"></span><span class="">Yazılı xəbərdarlıq</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="Notification" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-bullhorn pr-0 pb-lg-2 font-23"></span><span class="">Xəbərdarlıq(Bildiriş)</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="Reprimand" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-bug pr-0 pb-lg-2 font-23"></span><span class="">Töhmət</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="Create" asp-controller="QuitWork70item" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-exit-up pr-0 pb-lg-2 font-23"></span><span class="">Xitam((70in ç-si ilə))</span></a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("HrDepartmentBoss"))
                        {
                           
                            <div class="sidebar-wrapper d-lg-block d-md-none d-none">
                                <div class="card ctm-border-radius shadow-sm border-none grow">
                                    <div class="card-body">
                                        <div>
                                            <a class="btn" style="background-color:#f6822d">Şöbə Müdiri</a>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="CommandDepBossQuitWorkk" asp-controller="CommandDepBossQuitWork" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-enter pr-0 pb-lg-2 font-23"></span><span class="">İşə qəbul</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="CreateDepBossRecruitmentCommand" asp-controller="CommandDepBossRecruitment" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-bookmark pr-0 pb-lg-2 font-23"></span><span class="">Xitam</span></a>
                                            </div>
                                            <div class="col-6 align-items-center shadow-none text-center">
                                                <a asp-action="EmployeeReawrd" asp-controller="Reaward" asp-area="Employee" class="text-dark p-4 ctm-border-right ctm-border-left"><span class="lnr lnr-earth pr-0 pb-lg-2 font-23"></span><span class="">Mükafat</span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                      




                    </aside>
                </div>


                <div class="col-xl-9 col-lg-8  col-md-12">
                    <div class="quicklink-sidebar-menu ctm-border-radius shadow-sm grow bg-white p-4 mb-4 card">
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item text-center active button-5"><a asp-area="Employee" asp-controller="Home" asp-action="Information" class="text-white">Məlumatlarım</a></li>
                            <li class="list-group-item text-center button-6"><a asp-area="Employee" asp-controller="EmployeeMessage" asp-action="Index" class="text-dark">Bildiriş</a></li>
                            <li class="list-group-item text-center button-6"><a href="#" class="text-dark">İQ-Test</a></li>
                            @if (!User.IsInRole("DepartmentBoss"))
                            {
                                <li class="list-group-item text-center button-6"><a asp-area="Employee" asp-controller="Permision" asp-action="GetPermission" class="text-dark">İcazələrim</a></li>
                                <li class="list-group-item text-center button-6"><a asp-area="Employee" asp-controller="ExplanationFoLate" asp-action="CreateExplanation" class="text-dark">İzahatlarım</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-area="Employee" asp-controller="Permision" asp-action="AllVacation">Məzuniyyətlərim</a></li>
                            }
                            <li class="list-group-item text-center button-6"><a class="text-dark" asp-area="Employee" asp-controller="Account" asp-action="ChangePassword">Tənzimləmələr</a></li>
                            @if (User.IsInRole("DeviceResponsible"))
                            {

                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-area="Employee" asp-controller="EmployeeDevice" asp-action="Create">İşçilərin qurğuları</a></li>

                            }
                            @if (User.IsInRole("HrDepartmentBoss"))
                            {
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Index" asp-controller="Monthlysalary" asp-area="Employee">MS </a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Attendance" asp-controller="Payment" asp-area="Employee">PT</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Create" asp-controller="Vacation" asp-area="Employee">Əsas Məzuniyyət</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Create" asp-controller="FreeVacation" asp-area="Employee">Ödənişsiz Məzuniyyət</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Update" asp-controller="ReminderVacation" asp-area="Employee"> Məzuniyyət günü</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Create" asp-controller="BusinessTrip" asp-area="Employee">Ezamiyyə</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="Create" asp-controller="AddHolidays" asp-area="Employee">Təqvim</a></li>
                                <li class="list-group-item text-center button-6"><a class="text-dark" asp-action="cREATEhOLIDAYS" asp-controller="AddHolidays" asp-area="Employee">Qeyri iş günləri</a></li>
                                ///
  
                            }
                        </ul>
                    </div>




